<div>
  <h1>Add the celebrity </h1>
  <form action="/module/{{module._id}}" method="POST">

    <label for="title">Titre du module</label>
    <input type="text" name="title" id="title" value="{{module.title}}">

    <label for="image ">Image de Description</label>
    <input type="text" name="image" id="image" value="{{module.image}}">

    <label for="media_url"> Url du youtube</label>
    <input type="text" name="media_url" id="media_url" value="{{module.media_url}}">

    <button type="submit">Save</button>
  </form>
</div>