<div class="jumbotron jumbotron-fluid d-flex ">

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-4">
        <h1 class="display-1" id="grad1">R'Ready</h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p class="lead">Maintenir la qualité de service à travers vos Equipes</p>
      </div>
      <div class="col">
        <p class="lead">Automatiser la formation de votre meilleur "Asset"</p>
      </div>
    </div>

  </div>
</div>
<div class="container-fluid d-flex justify-content-center">
  <div>
    <img class="center" src="/images/pd-light-bulb.png" alt="" srcset="">
  </div>

</div>