<div class="jumbotron jumbotron-fluid d-flex ">

  <div class="container">

    <div class="">
      <h1 class="display-1 text-center" id="grad1">R'Ready</h1>
      <p class="lead text-center">Maintenir la qualité de service à travers vos Equipes</p>
      <p class="lead text-center">Automatiser la formation de votre meilleur "Asset"</p>
    </div>


  </div>
</div>
<div class="container-fluid d-flex justify-content-center">
  <div>
    <img class="center" src="/images/pd-light-bulb.png" alt="" srcset="">
  </div>

</div>