<div class="container-fluid  d-inline-flex  flex-row justify-content-center">
  <h2>All QCM </h2>
</div>

<div class="container mt-5 d-flex flex-row">


  {{#each qcm }}
  <div class="card mx-2" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{title}}</h5>
      <a href="qcm/{{_id}}" class="btn btn-primary">Details</a>
    </div>
  </div>

  {{/each }}
</div>